bower_components/
node_modules/


bundle/bundle.out.js

.vscode/
.idea/
*.iml
my.env

*.env
static/bower_components/
.*.sw?
.DS_Store

.vagrant
/iisnode

# istanbul output
coverage/

npm-debug.log
*.heapsnapshot

/tmp
*.js~
.vs/NodejsApp1/v14/.suo
bin/Microsoft.NodejsTools.WebRole.dll
NodejsApp1.njsproj
*.cache
SyncfusionTroubleshooterErrors.log
obj/Debug/NodejsApp1.njsproj.FileListAbsolute.txt
npm-shrinkwrap.json
